GOOGLE_API_KEY=
GOOGLE_GENAI_USE_VERTEXAI=FALSE
# ADK_MODEL=gemini-2.5-pro

# Pattern Catalog MCP (required for patcat)
# PATTERN_CATALOG_ACCESS_TOKEN=
# PATTERN_CATALOG_AUTHORIZATION=
# PATTERN_CATALOG_MCP_URL=

# INCLUDE_GITHUB_MCP=false
# GITHUB_MCP_TOKEN=
